<div class="dashboard">
<nav class="navbar navbar-expand-lg" id="mainNav">
		<div class="container-fluid">
			<a href="/" class="returnHome">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </a>
            
            <a class="navbar-brand" href="/" class="brand">
                <img src="assets/logoMenor.png" alt="Logo geraAi">
            </a>
		</div>
	</nav>

<div class="container" id="principal">
    <div id="player">
        <div id="waveform"></div>

        <div class="musicPlayerIcons">
            <button id="playPauseButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
            </button>
            <button id="stopButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-stop-fill" viewBox="0 0 16 16">
                    <path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z"/>
                </svg>
            </button>
        </div>
    </div>
        
    <div id="prompts">
        <div style="text-align: center;" id="naoPermiteExcluirPrimeiroPrompt" class="alert alert-danger displayNoneElement" role="alert">
            <strong>
                Você não pode exluir o primeiro prompt!
            </strong>
        </div>
        <form id="form" method="post">
            <div id="form-group">
                <div id="inputsBasicos">
                    <div id="inputTempoInicio" class="inputTempo">
                        <label for="promptInicio" class="labelInputTempo">de</label>
                        <input id="promptInicio" type="number" name="inicio" placeholder="00:00">
                    </div>

                    <div id="inputTempoFim" class="inputTempo">
                        <label for="fim" class="labelInputTempo">até</label>
                        <input id="promptFim" type="number" name="fim" placeholder="00:00">
                    </div>

                    <div id="inputPromptText" class="inputPrompt">
                        <textarea 
                            class="form-control" 
                            name="prompt" id="inputPromptTextStyle" 
                            cols="140" 
                            rows="2" 
                            placeholder="Digite seu prompt aqui"
                            ></textarea>
                    </div>
                </div>

                <div class="iconesConfiguracoesExtras">  
                    <span id="configuracoesExtras" class="configuracoesExtrasStyle">
                        <span id="configExtras" class="configExtrasStyle" onclick="configuracoesExtras(this)">
                            <svg style="color: #8d8d8d;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </span>

                        <span id="excluirPrompt" class="excluirPromptStyle" onclick="excluirPrompt(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color: #8d8d8d;">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                            </svg>
                        </span>
                    </span>
                </div>

                <div id="todosInputsExtras">
                    <div id="inputsExtras" class="inputsExtrasStyle">
                        <div class="textInputsExtras">
                            <span>configurações do prompt</span>
                        </div>

                        <span id="btnFechar" class="btnFecharStyle" onclick="configuracoesExtras(this)">
                            <svg style="color: #fff;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                            </svg>
                        </span>
    
                        <div id="inputExtraAngulo" class="inputExtraRange">
                            <label for="angulo">ângulo</label>
                            <input type="range" name="angulo" min="-4" max="4">
                        </div>
    
                        <div id="inputExtraZoom" class="inputExtraRange">
                            <label for="zoom">zoom</label>
                            <input type="range" name="zoom" min="-4" max="4">
                        </div>
    
                        <div id="inputExtraEixoX" class="inputExtraRange">
                            <label for="eixoX">movimento (eixo x)</label>
                            <input type="range" name="eixoX" min="-4" max="4">
                        </div>
    
                        <div id="inputExtraEixoY" class="inputExtraRange">
                            <label for="eixoY">movimento (eixo y)</label>
                            <input type="range" name="eixoY" min="-4" max="4">
                        </div>
    
                        <span class="btnConfExtras" onclick="configuracoesExtrasFechar(this)">aplicar configurações</span>
                    </div>
                </div>
            </div>

            <div id="inputsConfiguracoesExtrasGerais">
                    <div id="inputsExtrasGerais" class="inputsExtrasStyle">
                        <div class="textInputsExtras">
                            <span>configurações do video</span>
                        </div>

                        <span id="btnFechar" class="btnFecharStyle" onclick="configuracoesExtrasGerais()">
                            <svg style="color: #fff;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                            </svg>
                        </span>
    
                        <div id="inputExtraAngulo" class="inputExtraRange">
                            <label for="angulo">ângulo</label>
                            <input type="range" name="anguloFinal" min="-4" max="4">
                        </div>
    
                        <div id="inputExtraZoom" class="inputExtraRange">
                            <label for="zoom">zoom</label>
                            <input type="range" name="zoomFinal" min="-4" max="4">
                        </div>
    
                        <div id="inputExtraEixoX" class="inputExtraRange">
                            <label for="eixoX">movimento (eixo x)</label>
                            <input type="range" name="eixoXFinal" min="-4" max="4">
                        </div>
    
                        <div id="inputExtraEixoY" class="inputExtraRange">
                            <label for="eixoY">movimento (eixo y)</label>
                            <input type="range" name="eixoYFinal" min="-4" max="4">
                        </div>
    
                        <span class="btnConfExtras" onclick="configuracoesExtrasGerais()">aplicar configurações</span>
                    </div>
                </div>
        
            <div id="promptsExtras">
            </div>

            <div class="modal fade" id="gerarVideoModal" tabindex="-1" aria-labelledby="gerarVideoModalLabel" aria-hidden="true">
                <div class="modal-dialog" id="modalDialogCustom">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="gerarVideoModalLabel">gerar video</h1>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-header">
                                <h4 class="modal-title" id="gerarVideoModalLabel">precisamos apenas de algumas informações:</h4>
                            </div>
                            
                            <div class="modal-body">
                                <div>
                                    <label class="labelInputModal" for="linkTokenReplicate">token do replicate</label>
                                    <input class="inputModal" type="password" id="linkTokenReplicate" name="linkTokenReplicate" placeholder="inserir token do replicate">
                                </div>

                                <div>
                                    <label class="labelInputModal" for="emailUsuario">e-mail</label>
                                    <input class="inputModal" type="text" id="emailUsuario" name="emailUsuario" placeholder="inserir e-mail">
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                                <div>
                                    <p>
                                        OBS: a geração do vídeo pode demorar. também enviaremos o link do vídeo gerado para o email inserido após a conclusão.
                                    </p>
                                </div>
                                <button id="btnGerarVideoModal" class="btnForm" type="submit" onclick="inserirToken()">gerar video</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div id="areaLetraMusica">
            <div id="divAreaLetraMusica" class="inputsExtrasStyle">
                <div class="textInputsExtras" style="margin-bottom: 70px;">
                    <span>adicionar letra da música</span>
                </div>

                <span id="btnFechar" class="btnFecharStyle" onclick="exibirLetraMusica()">
                    <svg style="color: #fff;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </span>
                
                <div class="divInputLetraMusica">
                    <label for="letraMusica" style="margin-bottom: 10px;">letra da música</label>
                    <textarea id="letraMusica" name="letraMusica" rows="19" cols="45"></textarea>
                </div>

                <div class="divBtnAdicionarMusica">
                    <button class="btnAdicionarMusica" onclick="exibirLetraMusica()">adicionar</button>
                </div>
            </div>
        </div>    

        {{#if data}}
            <div id="resposta"> {{data.detail}} </div>
            <div class="modal fade" id="verificarVideoModal" tabindex="-1" aria-labelledby="verificarVideoModalLabel" aria-hidden="true">
                <div class="modal-dialog" id="modalDialogCustom">
                    {{#if data.output}}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="verificarVideoModalLabel">video pronto!</h1>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <div class="videoReplicate">
                                    <video autoplay controls>
                                        <source src={{data.output}} type="video/mp4">
                                    </video>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button id="btnVerificarVideoModal" class="btnForm">baixar video</button>
                            </div>
                        </div>
                       
                    {{else}}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="verificarVideoModalLabel">gerar video</h1>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-header">
                                <div class="loading"></div>
                            </div>

                            <div class="modal-header">
                                <h4 class="modal-title" id="verificarVideoModalLabel">video sendo gerado...</h4>
                            </div>

                            <div class="modal-header">
                                <h4 class="modal-title" id="verificarVideoModalLabel">identificador do vídeo: <span>{{data.id}}</span></h4>
                            </div>

                            <div class="modal-header">
                                <p>
                                    por favor, aguarde alguns minutos enquanto seu vídeo é gerado.
                                    para verificar se seu vídeo já foi gerado, utilize o campo de busca abaixo junto com o identificador do vídeo.
                                    o identificador do vídeo gerado também será enviado para o email inserido.
                                </p>
                            </div>
                                        
                            <form action="/output" method="post">
                                <div class="modal-body">
                                    <h6>verificar conclusão do vídeo</h6>
                                    <div>
                                        <label class="labelInputModal" for="idVideoReplicate">id do video</label>
                                        <input class="inputModal" type="text" id="idVideoReplicate" name="idVideoReplicate" placeholder="xxxxxxxxxxxxxxxxxxxxxxx">                            
                                    
                                        <input 
                                            class="inputModal" 
                                            type="text" 
                                            id="linkReplicateIdVideoReplicate" 
                                            name="linkReplicateIdVideoReplicate"
                                            style="display: none;"
                                            >                            
                                    </div>
                                </div>
                                        
                                <div class="modal-footer">
                                    <button id="btnVerificarVideoModal" class="btnForm" type="submit" onclick="enviaTokenReplicate()">verificar video</button>
                            </form>

                                <button id="btnBaixarVideoModal" class="btnForm">baixar projeto</button>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}

        <button id="btnGerar" class="btnForm" data-bs-toggle="modal" data-bs-target="#gerarVideoModal">gerar vídeo</button>
        <button id="btnRecuperarVideo" class="btnForm" data-bs-toggle="modal" data-bs-target="#verificarVideoModal">gerar vídeo</button>
        
        
        <div id="divBtnNovoPrompt">
            <button id="btnNovoPrompt" onclick="novoPrompt()" class="btnForm" >+ adicionar entrada</button>
        </div>
    </div>        
</div>



<footer class="barraNavegacaoRodapeStyle" id="barraNavegacaoRodape">
  <nav class="navbar navbar-expand-lg" id="navbarRodape">
		<div class="container-fluid">
			<div class="collapse navbar-collapse">
				<div class="navbar-nav iconesBarraRodape">
                    <span class="nav-link">
                        <label for="inputAudioSource">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
                                <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
                                <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
                                <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
                            </svg>
                        </label>
                        <input type="file" id="inputAudioSource" accept="audio/*">
                    </span>
					<a class="nav-link" onclick="configuracoesExtrasGerais()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </a>
					<a class="nav-link" onclick="exibirLetraMusica()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-left-quote" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/>
                        </svg>
                    </a>
					<a class="nav-link" onclick="exportarPrompt()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg>
                    </a>
				</div>
			</div>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>
</footer>
</div>