<div id="galeria">
    <div class="video">
        <iframe src="https://drive.google.com/file/d/1ttDjjRt5Ohvk5sZTvW2bXJqqBhnkn0JR/preview" 
        width="600" height="400" allow="autoplay"></iframe>
        <div>Como dois animais</div>
        <div>Alceu Valença</div>
    </div>

    <div class="video">
        <iframe src="https://drive.google.com/file/d/1wLEz-Ta0AZe6qYAs2iYG46F1_lDmIlvp/preview"
        width="600" height="400" allow="autoplay"></iframe>
        <div>Dia Branco</div>
        <div>Geraldo Azevedo</div>
    </div>

    <div class="video">
        <iframe src="https://drive.google.com/file/d/1Whm8Fcb6q6FJmJ41B2QRFRsibwyA0Jao/preview"
            width="600" height="400" allow="autoplay"></iframe>
        <div>Alegria, Alegria</div>
        <div>Caetano Veloso</div>
    </div>

    <div class="video">
        <iframe src="https://drive.google.com/file/d/1NJANSA0P9jc0FekizQs3ziwldE8XvAaU/preview"
            width="600" height="400" allow="autoplay"></iframe>
        <div>João e Maria</div>
        <div>Nara Leão, Chico Buarque</div>
    </div>

    <div class="video">
        <iframe src="https://drive.google.com/file/d/13B_IOqNfFcgLsxpNaqzaevtJ5mgv5VM7/preview"
            width="600" height="400" allow="autoplay"></iframe>
        <div>Vambora</div>
        <div>Adriana Calcanhoto</div>
    </div>

    <div class="video">
        <iframe src="https://drive.google.com/file/d/12K0_Ct-VrlsiM-jNXXUZ2e3nqOkJ-Ggw/preview"
            width="600" height="400" allow="autoplay"></iframe>
        <div>Asa Branca</div>
        <div>Luiz Gonzaga</div>
    </div>
</div>