<!-- home -->
<div class="homeArea home">
    <!-- navbar -->
    <div class="navbar">
        <!-- logo -->
        <img src="assets/static/logoMenor.png" alt="Logo geraAi">
        <!-- menu -->
        <div class="menu">
            <a href="#home">inicio</a>
            <a href="#projeto">projetos</a>
            <a href="#exemplo">tutoriais</a>
            <a href="#galeria">galeria</a>
        </div>
        <!-- botao -->
        <a id="botao_teste" data-bs-toggle="modal" data-bs-target="#testeAgoraModal">teste agora</a>
    </div>
    <!-- frame -->
    <div class="frame">
        <!-- logo principal  -->
        <img src="assets/static/frameE.png" alt="">
        <div class="deflex">
            <img src="assets/static/logoCentral.png" alt="logo central geraAi" class="imagemLogo">
            <!-- footer -->
            <div class="footer">
                <a href="#projeto">conheça o projeto</a>
                <span class="material-symbols-outlined">
                    keyboard_arrow_down
                </span>
            </div>
        </div>
        <img src="assets/static/frameD.png" alt="">
    </div>

    <div class="corretivo">

    </div>

    <!-- pagina conteudo -->
    <div class="conteudo">
        <!-- projeto -->
        <div class="projeto">
            <div class="header" id="projeto">
                <h1>/ o projeto</h1>
            </div>
                <p>o <span>gera.ai</span> é uma ferramenta para <span>criação</span> <br><span>de vídeos</span> de forma simples e objetiva <br><br>com o gera.ai você pode <span>criar</span>, <br><span>personalizar</span> e <span>gerar videos</span> em minutos <br><br>com apenas <span>poucos passos</span> você é capaz <br>de criar uma animação <br><br>e de forma automatizada, o vídeo final é <br>gerado por <span>inteligência artificial</span></p>
                <h2>como funciona?</h2>
            <!-- numero 1 -->
            <div class="flex">
                <img src="assets/static/1.png" alt="numero 1">
                <p>você inicia um novo projeto com ou sem áudio (será utilizado no vídeo)</p>
            </div>
            <!-- numero 2  -->
            <div class="flex">
                <img src="assets/static/2.png" alt="numero 2">
                <p>adiciona uma sequência de entradas contendo <span>tempo de início</span> e <span>texto</span><br><span>descritivo,</span> representando quando e o que deve ser mostrado no vídeo </p>
            </div>
            <!-- numero 3 -->
            <div class="flex">
                <img src="assets/static/3.png" alt="numero 3">
                <p>adiciona algumas configurações de vídeo como <span>zoom, velocidade de <br>transição, ângulo,</span> e muitas outras....</p>
            </div>
            <!-- numero 4 -->
            <div class="flex">
                <img src="assets/static/4.png" alt="numero 4">
                <p>selecionar para gerar o video, aguardar alguns minutos enquanto a <br>inteligência artificial trabalha e... <span>vídeo pronto!</span></p>
            </div>
        </div>

        <!-- exemplo -->
        <div class="exemplo">
            <div class="header" id="exemplo">
                <h1>exemplos /</h1>
            </div>
            <p>aqui você encontra alguns exemplos de <br>como utilizar o <span>gera.ai</span></p>
            <!-- carrossel de 4 videos da galeria -->
            <div class="flex">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner" id="carouselExmapleHome">
                        <div class="carousel-item active" id="carouselExampleItem1">
                            <div class="video-item video-item-1 correcaoVideoExample">
                                <iframe src="https://drive.google.com/file/d/1ttDjjRt5Ohvk5sZTvW2bXJqqBhnkn0JR/preview" 
                                width="275" height="200" allow="autoplay"></iframe>
                                <div class="under_texto">
                                    <p>configuração: zoom</p>
                                    <p>aplicando configuração ao prompt</p>
                                </div>
                            </div>

                            <div class="video-item video-item-1 correcaoVideoExample correcaoVideoExampleCentral">
                                <iframe src="https://drive.google.com/file/d/1ttDjjRt5Ohvk5sZTvW2bXJqqBhnkn0JR/preview" 
                                width="275" height="200" allow="autoplay"></iframe>
                                <div class="under_texto">
                                    <p>configuração: zoom</p>
                                    <p>aplicando configuração ao prompt</p>
                                </div>
                            </div>

                            <div class="video-item video-item-1 correcaoVideoExample">
                                <iframe src="https://drive.google.com/file/d/1ttDjjRt5Ohvk5sZTvW2bXJqqBhnkn0JR/preview" 
                                width="275" height="200" allow="autoplay"></iframe>
                                <div class="under_texto">
                                    <p>configuração: zoom</p>
                                    <p>aplicando configuração ao prompt</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" id="carouselExampleItem1">
                            <div class="video-item video-item-1 correcaoVideoExample">
                                <iframe src="https://drive.google.com/file/d/1ttDjjRt5Ohvk5sZTvW2bXJqqBhnkn0JR/preview" 
                                width="275" height="200" allow="autoplay"></iframe>
                                <div class="under_texto">
                                    <p>configuração: zoom</p>
                                    <p>aplicando configuração ao prompt</p>
                                </div>
                            </div>

                            <div class="video-item video-item-1 correcaoVideoExample correcaoVideoExampleCentral">
                                <iframe src="https://drive.google.com/file/d/1ttDjjRt5Ohvk5sZTvW2bXJqqBhnkn0JR/preview" 
                                width="275" height="200" allow="autoplay"></iframe>
                                <div class="under_texto">
                                    <p>configuração: zoom</p>
                                    <p>aplicando configuração ao prompt</p>
                                </div>
                            </div>

                            <div class="video-item video-item-1 correcaoVideoExample">
                                <iframe src="https://drive.google.com/file/d/1ttDjjRt5Ohvk5sZTvW2bXJqqBhnkn0JR/preview" 
                                width="275" height="200" allow="autoplay"></iframe>
                                <div class="under_texto">
                                    <p>configuração: zoom</p>
                                    <p>aplicando configuração ao prompt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <button class="carousel-control-prev arrowIconExample1" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next arrowIconExample2" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            </div>
        </div>

        <!-- galeria -->
        <div class="galeria">
            <div class="header" id="galeria">
                <h1>/ galeria</h1>
            </div>
            <p>conjunto de animações que criamos <br>utilizando o <span>gera.ai</span></p>
            <div id="carouselExampleIndicators1" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner" id="carouselHome">
                    <div class="carousel-item active" id="carouselGaleryItem1">
                        <div class="videoCarousel">
                            <iframe src="https://drive.google.com/file/d/1ttDjjRt5Ohvk5sZTvW2bXJqqBhnkn0JR/preview" 
                            width="600" height="400" allow="autoplay"></iframe>
                        </div>
                        <div class="carouselGaleryItemInformation">
                            <div class="information musica">como dois animais</div>
                            <div class=" information artista">alceu valença</div>
                        </div>
                    </div>
                    <div class="carousel-item" id="carouselGaleryItem2">
                        <div class="videoCarousel">
                            <iframe src="https://drive.google.com/file/d/1wLEz-Ta0AZe6qYAs2iYG46F1_lDmIlvp/preview"
                            width="600" height="400" allow="autoplay"></iframe>
                        </div>
                        <div class="carouselGaleryItemInformation">
                            <div class="information musica">dia branco</div>
                            <div class=" information artista">geraldo azevedo</div>
                        </div>
                    </div>
                    <div class="carousel-item" id="carouselGaleryItem3">
                        <div class="videoCarousel">
                            <iframe src="https://drive.google.com/file/d/13B_IOqNfFcgLsxpNaqzaevtJ5mgv5VM7/preview"
                            width="600" height="400" allow="autoplay"></iframe>
                        </div>
                        <div class="carouselGaleryItemInformation">
                            <div class="information musica">vambora</div>
                            <div class=" information artista">adriana calcanhoto</div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev arrowIconGalery1" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next arrowIconGalery2" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="testeAgoraModal" tabindex="-1" aria-labelledby="testeAgoraModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modalDialogCustom">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="testeAgoraModalLabel">novo projeto</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                            
            <div class="modal-body">
                <div style="text-align: center;" id="alertaMusicaNaoAdicionada" class="alert alert-danger displayNoneElement" role="alert">
                    <strong>
                        Adicione uma música para continuar!
                    </strong>
                </div>
                <div class="titleAudioInputHomeTitle">fazer upload da faixa de áudio</div>
                <div class="divAudioInputHome">
                    <label for="inputAudioSource">
                        <span class="audioInputHome">
                            selecionar arquivo
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-music" viewBox="0 0 16 16">
                            <path d="M11 6.64a1 1 0 0 0-1.243-.97l-1 .25A1 1 0 0 0 8 6.89v4.306A2.572 2.572 0 0 0 7 11c-.5 0-.974.134-1.338.377-.36.24-.662.628-.662 1.123s.301.883.662 1.123c.364.243.839.377 1.338.377.5 0 .974-.134 1.338-.377.36-.24.662-.628.662-1.123V8.89l2-.5V6.64z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                        </span>
                    </label>
                    <input type="file" id="inputAudioSource" accept="audio/*">
                </div>
            </div>
                            
            <div class="modal-footer">
                <button class="btnForm" style="width: 98%;" onclick="adicionarAudio()">adicionar audio</button>
                <button id="btnBaixarVideoModal" style="width: 98%;" onclick="continuarSemMusica()">continuar sem audio</button>
            </div>
            
            <p class="separadorModalHome">ou</p>

            <div>
                <div class="conferirVideoTitulo">
                    já gerou um vídeo?
                </div>
                <div class="conferirVideoTitulo">
                    confira se está pronto!
                </div>
            </div>
            
            <form action="/output" method="post">
                <div class="modal-body">
                    <div>
                        <label class="labelInputModal" for="idVideoReplicate">id do video</label>
                        <input class="inputModal" type="text" id="idVideoReplicate" name="idVideoReplicate" placeholder="xxxxxxxxxxxxxxxxxxxxxxx">                            
                                    
                        <input 
                            class="inputModal" 
                            type="text" 
                            id="linkReplicateIdVideoReplicate" 
                            name="linkReplicateIdVideoReplicate"
                            style="display: none;"
                            >                            
                        </div>
                </div>
                                        
                <div class="modalHomeRopape">
                    <p>
                        OBS: o identificador do vídeo foi enviado para email inserido na criação do vídeo.
                    </p>
                    
                    <button id="btnVerificarVideoModal" class="btnForm" type="submit" onclick="enviaTokenReplicate()">verificar video</button>
                </div>
            </form>
        </div>
    </div>
</div>
    