<!-- home -->
<div class="homeArea home">
    <!-- navbar -->
    <div class="navbar">
        <!-- logo -->
        <img src="assets/logoMenor.png" alt="Logo geraAi">
        <!-- menu -->
        <div class="menu">
            <a href="/">inicio</a>
            <a href="">projetos</a>
            <a href="">tutoriais</a>
            <a href="">galeria</a>
        </div>

        <!-- botao -->
        <a id="botao_teste" data-bs-toggle="modal" data-bs-target="#testeAgoraModal">teste agora</a>
    </div>
    <!-- frame -->
    <div class="frame">
        <!-- logo principal  -->
        <img src="assets/logoCentral.png" alt="logo central geraAi">
    </div>
    <!-- footer -->
    <div class="footer">
        <h1>conheça o projeto</h1>
        <i>icone</i>
    </div>
</div>

<div class="modal fade" id="testeAgoraModal" tabindex="-1" aria-labelledby="testeAgoraModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modalDialogCustom">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="testeAgoraModalLabel">novo projeto</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                            
            <div class="modal-body">
                <div class="titleAudioInputHomeTitle">fazer upload da faixa de áudio</div>
                <div class="divAudioInputHome">
                    <label for="inputAudioSource">
                        <span class="audioInputHome">
                            selecionar arquivo
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-music" viewBox="0 0 16 16">
                            <path d="M11 6.64a1 1 0 0 0-1.243-.97l-1 .25A1 1 0 0 0 8 6.89v4.306A2.572 2.572 0 0 0 7 11c-.5 0-.974.134-1.338.377-.36.24-.662.628-.662 1.123s.301.883.662 1.123c.364.243.839.377 1.338.377.5 0 .974-.134 1.338-.377.36-.24.662-.628.662-1.123V8.89l2-.5V6.64z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                        </span>
                    </label>
                    <input type="file" id="inputAudioSource" accept="audio/*">
                </div>
            </div>
                            
            <div class="modal-footer">
                <button class="btnForm" style="width: 98%;" onclick="window.location.href='/dashboard'">adicionar audio</button>
                <button id="btnBaixarVideoModal" style="width: 98%;" onclick="continuarSemMusica()">continuar sem audio</button>
            </div>
            
            <p class="separadorModalHome">ou</p>

            <div>
                <div class="conferirVideoTitulo">
                    já gerou um vídeo?
                </div>
                <div class="conferirVideoTitulo">
                    confira se está pronto!
                </div>
            </div>
            
            <form action="/output" method="post">
                <div class="modal-body">
                    <div>
                        <label class="labelInputModal" for="idVideoReplicate">id do video</label>
                        <input class="inputModal" type="text" id="idVideoReplicate" name="idVideoReplicate" placeholder="xxxxxxxxxxxxxxxxxxxxxxx">                            
                    </div>
                </div>
                                        
                <div class="modalHomeRopape">
                    <p>
                        OBS: o identificador do vídeo foi enviado para email inserido na criação do vídeo.
                    </p>
                    <button type="submit">verificar video</button>

                    
                </div>
            </form>
        </div>
    </div>
</div>
    