<!-- home -->
<div class="homeArea home">
    <!-- navbar -->
    <div class="navbar">
        <!-- logo -->
        <img src="assets/logoMenor.png" alt="Logo geraAi">
        <!-- menu -->
        <div class="menu">
            <a href="/">inicio</a>
            <a href="">projetos</a>
            <a href="">tutoriais</a>
            <a href="">galeria</a>
        </div>
        <!-- botao -->
        <a href="/dashboard" id="botao_teste">teste agora</a>
    </div>
    <!-- frame -->
    <div class="frame">
        <!-- logo principal  -->
        <img src="assets/logoCentral.png" alt="logo central geraAi">
    </div>
    <!-- footer -->
    <div class="footer">
        <h1>conheça o projeto</h1>
        <i>icone</i>
    </div>
</div>

    