<div id="principal">
    <div id="player">
        <audio id="musica" controls>
            <source type="audio/mp4" id="audioSource">
            Seu navegador não suporta a tag de áudio.
        </audio>
        
        <div id="inputFile">
            <label for="inputAudioSource">
                <i class="fa-solid fa-music" style="color: #8d8d8d;"></i>
                Selecione a música
            </label>
            <input type="file" id="inputAudioSource" accept="audio/*">
        </div>
    </div>
        
    <div id="prompts">
        <form id="form" action="/prompts/new" method="post">
            <div id="form-group">
                <div id="inputsBasicos">
                    <div id="inputTempoInicio" class="inputTempo">
                        <label for="promptInicio" class="labelInputTempo">inicio</label>
                        <input id="promptInicio" type="number" name="inicio" placeholder="00:00">
                    </div>
                     
                    <div id="inputPromptText" class="inputPrompt">
                        <textarea name="prompt" id="" cols="140" rows="2" placeholder="Digite seu prompt aqui"></textarea>
                    </div>
                </div>

                <div class="iconesConfiguracoesExtras">  
                    <span id="configuracoesExtras" class="configuracoesExtrasStyle">
                        <span id="configExtras" class="configExtrasStyle" onclick="configuracoesExtras(this)">
                            <i class="fa-solid fa-bars fa-lg" style="color: #8d8d8d;"></i>
                        </span>

                        <span id="excluirPrompt" class="excluirPromptStyle">
                            <i class="fa-solid fa-trash-can" style="color: #8d8d8d;"></i>
                        </span>
                    </span>
                </div>

                <div id="todosInputsExtras">
                    <div id="inputsExtras" class="inputsExtrasStyle">
                        <div class="textInputsExtras">
                            <span>configurações do prompt</span>
                        </div>

                        <span id="btnFechar" class="btnFecharStyle" onclick="configuracoesExtras(this)">
                            <i class="fa-solid fa-xmark fa-lg" style="color: #fff;"></i>
                        </span>
    
                        <div id="inputExtraAngulo" class="inputExtraRange">
                            <label for="angulo">ângulo</label>
                            <input type="range" name="angulo" min="-4" max="4">
                        </div>
    
                        <div id="inputExtraZoom" class="inputExtraRange">
                            <label for="zoom">zoom</label>
                            <input type="range" name="zoom" min="-4" max="4">
                        </div>
    
                        <div id="inputExtraEixoX" class="inputExtraRange">
                            <label for="eixoX">movimento (eixo x)</label>
                            <input type="range" name="eixoX" min="-4" max="4">
                        </div>
    
                        <div id="inputExtraEixoY" class="inputExtraRange">
                            <label for="eixoY">movimento (eixo y)</label>
                            <input type="range" name="eixoY" min="-4" max="4">
                        </div>
    
                        <button id="btnConfExtras">aplicar configurações</button>
                    </div>
                </div>

            </div>
        
            <div id="promptsExtras">
            </div>
        
            <button id="btnGerar" class="btnForm" type="submit">gerar vídeo</button>
        </form>    
        
        <div id="divBtnNovoPrompt">
            <button id="btnNovoPrompt" onclick="novoPrompt()" class="btnForm" >+ adicionar entrada</button>
        </div>
    </div>     
</div>