<div id="principal">
    <div id="player">
        <audio id="musica" controls>
            <source type="audio/mp4" id="audioSource">
            Seu navegador não suporta a tag de áudio.
        </audio>
        
        <div id="inputFile">
            <input type="file" id="inputAudioSource" accept="audio/*">
        </div>
    </div>

    <div id="prompts">
        <form id="form" action="/prompts/new" method="post">
            <div id="form-group">
                <div class="inputInicio">
                    <label for="inicio">Início</label>
                    <input type="number" name="inicio" value="0">
                </div>

                <div class="inputPrompt">
                    <label for="prompt">Prompt</label>
                    <input type="text" name="prompt">
                </div>
            </div>

            <div id="promptsExtras">
            </div>

            <button id="btnGerar" class="btnForm" type="submit">Gerar Vídeo</button>
        </form>    
        <button id="btnNovoPrompt" onclick="novoPrompt()" class="btnForm" >+Novo Prompt</button>
    </div>

    <div id="lyrics">
        <h4>Acompanhe a letra da sua música</h4>
        <div class="lyrics-container">
            <div class="lyrics-content">
                <div class="lyrics-text">
                    <p>

                        Agora eu era o herói<br>
                        E o meu cavalo só falava inglês<br>
                        A noiva do cowboy<br>
                        Era você além das outras três<br><br>

                        Eu enfrentava os batalhões<br>
                        Os alemães e seus canhões<br>
                        Guardava o meu bodoque<br>
                        E ensaiava um rock para as matinês<br><br>

                        Agora eu era o rei<br>
                        Era o bedel e era também juiz<br>
                        E pela minha lei<br>
                        A gente era obrigado a ser feliz<br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>