{{#if output}}
    <div class="video">
        <iframe src={{output}}
        width="400" height="400" allow="autoplay"></iframe>
    </div>
{{else}}
    <p style="color: aliceblue;">O seu video ainda não está pronto. Tente novamente em alguns minutos</p>
{{/if}}