<div class="resultadoFinal">
    <h3>Resultado final</h3>
    {{#if data.output}}
        <div class="videoReplicate">
            <video autoplay controls>
                <source src={{data.output}} type="video/mp4">
            </video>
        </div>
        <p style="color: aliceblue;">
            Prompt: <strong>{{data.input.animation_prompts}}</strong>
        </p>
    {{else}}
        <p style="color: aliceblue;">O seu video ainda não está pronto. Tente novamente em alguns minutos</p>
    {{/if}}
</div>