<div class="divResultadoId">
    <div class="idVideoGerado" >
        O id do seu vídeo é: <strong> {{id}}. </strong> 
    </div>

    <div class="obterVideoGerado">
        <form action="/output" method="post">
            <input 
                type="text" 
                name="videoId" 
                id="videoId"
                placeholder="digite ou cole o id do seu video aqui"    
            >
            <div class="divBtnObterVideo">
                <button id="btnObterVideo" type="submit">Obter video</button>
            </div>        
        </form>
    </div>

</div>