@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

/*Barra de Navegação*/
#mainNav{
    background-color: #339194;
    height: 80px;
    border-bottom: 2px solid #fff;
}

#mainNav a{
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

#brand{
    margin-left: 25px;
}

#navbarNavAltMarkup{
    margin-left: 70%;
}

/**/

/*Logo*/
#logo{
    text-align: center;
    background-color: #C966D7;
    height: 200px;
}

#nomeLogo{
    line-height: 2.5;
    font-size: 4em;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
/**/


/*File*/
#inputFile input{
    margin: 0 auto;
}
/**/

/* Principal */
#principal{
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 30px;
}


#player{
    text-align: center;
}

#player audio{
    margin-top: 20px;
}

#prompts{
    margin-left: 50px;
    text-align: center;
    width: 60%;
    float: left;
}

#prompts input{
    margin: 0 auto;
}

form{
    clear: both;
}

#form-group, #prompts, #promptsExtras{
    margin-top: 15px;
    margin-bottom: 15px;
}

.inputInicio{
    width: 20%;
    margin-left: 140px;
    float: left;
}

.inputInicio input{
    width: 50%;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
}

.btnForm{
    overflow: hidden;
    margin-top: 20px;
    border-radius: 5px;
    float: left;
}

#btnGerar{
    margin-left: 250px;
}

#btnNovoPrompt{
    margin-bottom: 20px;
    margin-left: 50px;
}

#configuracoesExtras span{
    font-weight: 200;
    margin-bottom: 10px;
    display: block;
    width: 88%;
}

#configuracoesExtras span:hover{
    cursor: pointer;
    font-weight: 400;
}

#configuracoesExtras #inputsExtras{
    display: none;
}

button {
    background-color: #339194;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #368986;
}


/**/

/*Lyrics*/
#lyrics{
    overflow: hidden;
    float: left;
    margin-top: 15px;
    margin-right: 60px;
    margin-bottom: 25px;
    border-left: 1px solid #ccc;
    width: 30%;
    float: right;
}

#lyrics h4, #lyrics-container, p{
    text-align: center;
    margin-top: 12px;
}

/**/

/*Galeria*/
#galeria{
    margin-top: 25px;
    margin-bottom: 30px;
}

#galeria .video{
    float: left;
    width: 50%;
}

#galeria .video iframe{
    margin-left: 60px;
}

.video{
    overflow: hidden;
}

.video div{
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin: 15px;
}

/**/