@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

audio::-webkit-media-controls-panel {
    background-color: #444444;
}
  
audio::-webkit-media-controls-play-button {
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
  
audio::-webkit-media-controls-timeline {
  height: 5px;
  background-color: #444444 !important;
  border-radius: 5px;
}
  
audio::-webkit-media-controls-timeline-viewport {
  height: 15px;
  background-color: #444444;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}
  

#bodyBackground{
    background-color: #1E1E1E;
}


/*Barra de Navegação*/
#mainNav{
    background-color: #444444;
    height: 80px;
    border-bottom: 1px solid #8D8D8D;
}

#mainNav a{
    color: #fff;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

#brand{
    margin-left: 15px;
}

#navbarNavAltMarkup{
    margin-left: 70%;
}

/**/

/*Logo*/
#logo{
    text-align: center;
    background-color: #C966D7;
    height: 200px;
}

#nomeLogo{
    line-height: 2.5;
    font-size: 3em;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
/**/


/*File*/
#inputFile input{
    margin: 0 auto;
}
/**/

/* Principal */
#principal{
    margin-top: 60px;
    margin-bottom: 30px;
}


#player{
    text-align: center;
    background-color: #444444;
    border: 1px solid #fff;
    border-radius: 10px;
}

#player audio{
    margin-top: 20px;
    width: 100%;

}

/*Estilo Inputs de Prompt*/
#prompts{
    width: 100%;
}

#form-group{
    padding: 20px;
    margin-top: 20px;
    background-color: #444444;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 5px;
}

#inputTempoInicio{
    width: 5%;
    float: left;
    margin-left: 30px;
}

.inputTempo{
    width: 20%;
}

.labelInputTempo{
    color: #8D8D8D;
    width: 30%;
    margin-left: 0px;
    display: block;
}

#promptInicio{
    text-decoration: none;
    box-shadow: none;
    width: 100%;
    line-height: 0.5;
    background: transparent;
    border: 1px solid #8D8D8D;
    border-radius: 5px;
    color: #fff;
    margin-top: 5px;
}

#promptInicio::placeholder{
    color: #8D8D8D;
}

#inputPromptText{
    display: inline-block;
    padding: 0px;
    margin-left: 25px;
    margin-top: 8px;
}

#inputPromptText textarea{
    background-color: #444444;
    color: #BFBFBF;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0px;   
    clear: both;
}

.iconesConfiguracoesExtras{
    float: right;
    margin-top: -58px;
    margin-right: 45px;
}

.iconesConfiguracoesExtras1{
    float: right;
    margin-top: 6px;
    margin-right: 45px;
}

.configuracoesExtrasStyle span:hover{
    cursor: pointer;
}

#btnGerar{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
}

#divBtnNovoPrompt{
    text-align: center;
}

#btnNovoPrompt{
    margin-top: 25px;
}

#btnNovoPrompt, #btnConfExtras, #btnGerar, #btnObterVideo{
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 50px;
}

#btnConfExtras{
    width: 320px;
    margin-left: 0;
    margin-top: 20px;
}

#btnObterVideo{
    padding: 8px 16px;
    margin-top: 12px;
}

/*Menu lateral*/
.inputsExtrasStyle{
    position: fixed;
    margin-top: 80px;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #1E1E1E;
    color: #fff;
    padding: 25px;
    transition: all 0.25s;
    z-index: 1;
}

.inputsExtrasStyle.show{
    right: 0;
}

.inputsExtrasStyle.disabled{
    right: -400px;
}

.inputsExtrasStyle, .inputExtraRange{
    text-align: justify;
    color: #8D8D8D;
    margin-bottom: 10px;
}

.inputsExtrasStyle select{
    width: 100%;
    padding: 8px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #8D8D8D;
}

.inputsExtrasStyle .inputExtraRange input{
    width: 100%;
    padding: 8px;
}

.inputsExtrasStyle .btnFecharStyle{
    position: absolute;
    right: 0;
    margin-right: 50px;
    font-size: 1.2em;
}

.inputsExtrasStyle .btnFecharStyle:hover{
    cursor: pointer;
}

.textInputsExtras{
    display: inline-block;
    justify-content: center;
    padding: 0;
    margin-bottom: 50px;
    font-weight: 700;
    color: #fff;
}


/**/

/*Lyrics*/
#lyrics{
    display: none;
    overflow: hidden;
    float: left;
    margin-top: 15px;
    margin-right: 60px;
    margin-bottom: 25px;
    border-left: 1px solid #ccc;
    width: 30%;
    float: right;
}

#lyrics h4, #lyrics-container, p{
    text-align: center;
    margin-top: 12px;
}

/**/

/*Galeria*/
#galeria{
    margin-top: 25px;
    margin-bottom: 30px;
}

#galeria .video{
    float: left;
    width: 50%;
}

#galeria .video iframe{
    margin-left: 60px;
}

.video{
    overflow: hidden;
}

.video div{
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin: 15px;
}

/**/

/**/
#inputAudioSource{
    display: none;
}

label[for="inputAudioSource"] {
    padding: 8px 10px;
    background-color: #1E1E1E;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 12px;
}

.divResultadoId{
    margin-top: 50px;
    border: 1px solid #444444;
}

.idVideoGerado{
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.obterVideoGerado{
    margin-top: 40px;
    text-align: center;
}

.obterVideoGerado input{
    width: 28%;
    border: 1px solid white;
    background: transparent;
    color: #BFBFBF;
    border-radius: 10px;
    text-align: center;
}

.obterVideoGerado input::placeholder{
    text-align: center;
    color: #BFBFBF;
}

.divBtnObterVideo{
    margin-right: 36px;
    margin-bottom: 30px;
}

/*af6zjhfmrzbxta23uznrfamjfu*/