@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/*Página Inicial*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.homeArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: none;
}
/* home */
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
/* navbar */
.navbar {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
}
    /* navbar + menu */
    .navbar .menu{
        display: flex;
        width: 335px;
        height: 23.5px;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .menu a{
        text-decoration: none;
        font-size: 14px;
        color: #fff;
    }
    /* hover do menu */
    .navbar .menu a:hover{
        text-decoration: underline;
    }
    /* fim navbar + menu */
.navbar #botao_teste{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 16px;
    background-color: #fff;
    color: #151519;
}
.navbar img{
    width: 60px;
}
/* fim navbar */
.frame {
    width: 90%;
    height: 90vh;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* tratamento do frame */
    background-image: url(../assets/frame.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.frame img{
    width: 250px;
}
/**/

/*Dashboard*/

.dashboard{
    background-color: #1E1E1E;
    min-height: 100vh;
}

/*Barra de Navegação do Dashboard*/
#mainNav{
    background-color: #444444;
    height: 80px;
    border-bottom: 1px solid #8D8D8D;
    width: 100%;
}

#mainNav a{
    color: #fff;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

#brand{
    margin-left: 15px;
}

#navbarNavAltMarkup{
    margin-left: 70%;
}

/**/

/*Logo*/
#logo{
    text-align: center;
    background-color: #C966D7;
    height: 200px;
}

#nomeLogo{
    line-height: 2.5;
    font-size: 3em;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
/**/


/*File*/
#inputFile input{
    margin: 0 auto;
}
/**/

/* Principal */
#principal{
    margin-top: 60px;
    margin-bottom: 30px;
    padding-bottom: 50px;
}

#player{
    text-align: center;
    background-color: #444444;
    border-radius: 10px;
    height: 22vh;
}

#player #waveform{
    margin-right: 10px;
}

.musicPlayerIcons button{
    background: none;
    border: none;
}

.musicPlayerIcons svg{
    color: #bdbdbd;
}

/*Estilo Inputs de Prompt*/
#prompts{
    width: 100%;
}

#form-group{
    padding: 20px;
    margin-top: 20px;
    background-color: #444444;
    height: 100px;
    border-radius: 10px;
}

.inputTempo{
    width: 8%;
}

.labelInputTempo{
    color: #8D8D8D;
}

#promptInicio, #promptFim{
    text-decoration: none;
    box-shadow: none;
    width: 60%;
    line-height: 0.5;
    background: transparent;
    border: 1px solid #8D8D8D;
    border-radius: 5px;
    color: #fff;
    margin-top: 5px;
}

#promptInicio::placeholder, #promptFim::placeholder{
    color: #8D8D8D;
}

#promptInicio{
    margin-left: 5px;
}

#inputPromptText{
    float: left;
    margin-top: -55px;
    margin-left: 100px;
}

#inputPromptTextStyle{
    background-color: #444444;
    color: #BFBFBF;
    border: 1px solid #8D8D8D;
    border-radius: 5px;
}


#inputPromptTextStyle::placeholder{
    color: #8D8D8D;
}

/*Input Extra Letra musica*/
#divAreaLetraMusica textarea{
    background-color: #444444;
    color: #BFBFBF;
    border: 1px solid #8D8D8D;
    padding: 0px; 
}

.divInputLetraMusica{
    margin-top: -50px;
}

.divBtnAdicionarMusica{
    margin-top: 12px;
}

.divBtnAdicionarMusica button{
    width: 100%;
    margin: 0 auto;
}


.iconesConfiguracoesExtras, .iconesConfiguracoesExtras1{
    float: left;
    margin-top: -58px;
    margin-left: 10px;
}

.displayNoneElement{
    display: none;
}

.configuracoesExtrasStyle span:hover{
    cursor: pointer;
}

#btnGerar{
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    padding: 6px 18px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 120px;
    margin-bottom: 10px;
    z-index: 1;
    border-radius: 5px;
}

#divBtnNovoPrompt{
    text-align: center;
}

#btnNovoPrompt{
    margin-top: 25px;
}

#btnNovoPrompt, #btnConfExtras, #btnObterVideo, .btnAdicionarMusica{
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 50px;
}


#btnConfExtras{
    width: 320px;
    margin-left: 0;
    margin-top: 20px;
}

#btnObterVideo{
    padding: 8px 16px;
    margin-top: 12px;
}

/*Menu lateral*/
.inputsExtrasStyle{
    position: fixed;
    margin-top: 80px;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #1E1E1E;
    color: #fff;
    padding: 25px;
    transition: all 0.25s;
    z-index: 2;
}

.inputsExtrasStyle.show{
    right: 0;
}

.inputsExtrasStyle.disabled{
    right: -400px;
}

.inputsExtrasStyle, .inputExtraRange{
    text-align: justify;
    color: #8D8D8D;
    margin-bottom: 10px;
}

.inputsExtrasStyle select{
    width: 100%;
    padding: 8px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #8D8D8D;
}

.inputsExtrasStyle .inputExtraRange input{
    width: 100%;
    padding: 8px;
}

.inputsExtrasStyle .btnFecharStyle{
    position: absolute;
    right: 0;
    margin-right: 50px;
    font-size: 1.2em;
}

.inputsExtrasStyle .btnFecharStyle:hover{
    cursor: pointer;
}

.textInputsExtras{
    display: inline-block;
    justify-content: center;
    padding: 0;
    margin-bottom: 50px;
    font-weight: 700;
    color: #fff;
}


/**/

/*Lyrics*/
#lyrics{
    display: none;
    overflow: hidden;
    float: left;
    margin-top: 15px;
    margin-right: 60px;
    margin-bottom: 25px;
    border-left: 1px solid #ccc;
    width: 30%;
    float: right;
}

#lyrics h4, #lyrics-container, p{
    text-align: center;
    margin-top: 12px;
}

/**/

/*Galeria*/
#galeria{
    margin-top: 25px;
    margin-bottom: 30px;
}

#galeria .video{
    float: left;
    width: 50%;
}

#galeria .video iframe{
    margin-left: 60px;
}

.video{
    overflow: hidden;
}

.video div{
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin: 15px;
}

/**/

/**/
#inputAudioSource{
    display: none;
}

/*label[for="inputAudioSource"] {
    padding: 8px 10px;
    background-color: #1E1E1E;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 12px;
}*/

.divResultadoId{
    margin-top: 50px;
    border: 1px solid #444444;
}

.idVideoGerado{
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.obterVideoGerado{
    margin-top: 40px;
    text-align: center;
}

.obterVideoGerado input{
    width: 28%;
    border: 1px solid white;
    background: transparent;
    color: #BFBFBF;
    border-radius: 10px;
    text-align: center;
}

.obterVideoGerado input::placeholder{
    text-align: center;
    color: #BFBFBF;
}

.divBtnObterVideo{
    margin-right: 36px;
    margin-bottom: 30px;
}

/*Página resultado final*/
.resultadoFinal{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.resultadoFinal h3{
    color: #8D8D8D;
}

.barraNavegacaoRodapeStyle{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #444444;
}

.barraNavegacaoRodapeStyle .iconesBarraRodape{
    margin-left: 98px;
    padding: 0;
}

.barraNavegacaoRodapeStyle a, label{
    color: #fff;
}

.barraNavegacaoRodapeStyle a:hover, label:hover{
    cursor: pointer;
    color: #fff;
}

#navbarRodape{
    height: 60px;
}

/*Modal*/
#btnRecuperarVideo{
    display: none;
}

#modalDialogCustom .modal-content{
    background-color: #2C2C2C;
    width: 550px;
}

#modalDialogCustom .modal-header{
    color: #fff;
    border: none;
}

#modalDialogCustom .modal-header h1{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.05em;
}

#modalDialogCustom .modal-header h4{
    color: #BFBFBF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
}

#modalDialogCustom .modal-body h6{
    color: #F5F5F5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

#modalDialogCustom .modal-header button{
    color: #BFBFBF;
}

.labelInputModal{
    color: #BFBFBF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.05em;
    display: block;
}

.inputModal{
    width: 100%;
    padding: 8px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
}

#modalDialogCustom .modal-footer{
    border: none;
    margin-bottom: 15px;
}

#modalDialogCustom .modal-footer p, #modalDialogCustom .modal-header p{
    color: #BFBFBF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.05em;
    padding: 0;
    margin: 0;
    text-align: justify;
}

#modalDialogCustom .modal-footer div{
    margin-bottom: 30px;
}

#modalDialogCustom .modal-footer button{
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    padding: 6px 18px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}

#modalDialogCustom .modal-footer button#btnBaixarVideoModal{
    background: transparent;
    color: #F5F5F5;
    border: 1px solid #F5F5F5;
    font-weight: 700;
    font-size: 16px;
    padding: 6px 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 12px auto;
}

.videoReplicate{
    text-align: center;
}

.white{
    color: #fff;
}
/**/



.titleAudioInputHomeTitle{
    color: #8D8D8D;
    font-size: 14px;
    font-weight: none;
    letter-spacing: 0.05em;
    font-family: 'Raleway', sans-serif;
}

.divAudioInputHome{
    width: 100%;
    margin-top: 20px;
}	

.audioInputHome{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.05em;
    font-size: 14px;
    padding: 10px 0;
    margin-top: 12px;
    color: #8D8D8D;
    border: 1px solid #8D8D8D;
    border-radius: 5px;
}

.audioInputHome svg{
    margin-left: 332px;
    margin-right: 10px;
}

.btnSemAudioInputHome{
    margin-top: 25px;
}

.modal-footer .divSeparation{
    width: 100%;
}

.divSeparation{
    color: #8D8D8D;
}

.linkReplicateInputHome{
    color: #fff;
    font-size: 18px;
}

/*Animação Loading*/
.loading{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #444444;
    border-top-color: #BFBFBF;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@media screen and (max-width: 1400px) {
    #form-group{
        padding: 20px;
        margin-top: 20px;
        background-color: #444444;
        height: 120px;
        border-radius: 10px;
    }

    .inputTempo{
        width: 8%;
    }
    
    .labelInputTempo{
        color: #8D8D8D;
    }
    
    #promptInicio, #promptFim{
        text-decoration: none;
        box-shadow: none;
        width: 60%;
        line-height: 0.5;
        background: transparent;
        border: 1px solid #8D8D8D;
        border-radius: 5px;
        color: #fff;
        margin-top: 5px;
    }

    #inputPromptText{
        float: none;
        margin-top: -60px;
        margin-left: 100px;
    }

    .iconesConfiguracoesExtras{
        float: none;
        margin-top: 0;    
    }

    #player{
        text-align: center;
        background-color: #444444;
        border-radius: 10px;
        height: 25vh;
    }
}

@media screen and (max-width: 992px) {
    #form-group{
        padding: 20px;
        margin-top: 20px;
        background-color: #444444;
        height: 140px;
        border-radius: 10px;
    }

    .inputTempo{
        width: 10%;
    }

    #inputTempoInicio, #inputTempoFim{
        width: 30%;
        float: left;
        overflow: hidden;
        margin-top: -10px;
        margin: 0 auto;
    }

    #inputPromptText{
        clear: both;
        float: left;
        margin-top: 10px;
        margin-left: 0;
    }
}

/**/
/*zbybvmlixjhgbllqtom53nn4mm*/